
body {
	background-color:#CCD6A6;
	text-align:center;
	color:black;
	font-family:Arial;
}

#banner {
	background-color: #DAE2B6;
	width: 100%;
}

#navbar {
	background-color:#FFFBE9 ;

}
 h2{
	justify-content: center;
 }
.col-sm {
	justify-content: space-between;
	background-color: #F4EAD5;

}
li {
	text-align:left;
}

p {
	margin-left: 25%;
	text-align:left;
}

a:link {
  color: Blue;
}


a:visited {
  color: Brown;
}


a:hover {
  color:violet;
}


a:active {
  color:white;
} 

.flex-container {
	display:flex;
	justify-content: center;
}
