
body {
	background-color:#FFFBE9;
	text-align:center;
	color:black;
	font-family:Arial;
}

head {
	background-color: #dae2b6 !important;
}

#navbar {
	background-color:#9fad68 !important;

}
li {
	text-align:left;
}

p {
	margin-left: 25%;
	text-align:left;
}

a:link {
  color: Blue;
}


a:visited {
  color: Brown;
}


a:hover {
  color:violet;
}


a:active {
  color:white;
} 

.flex-container {
	display:flex;
	justify-content: center;
}
